language: c
before_install:
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
- "./travis-tool.sh bootstrap"
install:
- "./travis-tool.sh install_deps"
script: "./travis-tool.sh run_tests"
on_failure:
- "./travis-tool.sh dump_logs"
notifications:
  email:
    on_success: change
    on_failure: change
  slack:
    secure: kw7YMs6B7GlNUIYX4k4743+OwS2T+1mXdCfLfil0sHIkIeGve6gbgK0oq9n3ybOcCocC0fbXVfXRXawH3F272A2TiX7P+axXRrSvlklHi/tvNm0UH9zvimRgBfxUjSgDfPJLs2Ps8SQ02l6f/6yHrvWfNgSDK8f60YdlXxE17tU=
